<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
 </head>
<form class= "form" method=post>
	<h1 class="h3 mb-3 font-weight-normal">change class number and append class name</h1>
	<input type ="number" name="classnumber" id="classnumber">
	<input type ="text" name="classname" id="classname">
	<button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
</form>