<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <title>Auto-Training</title>
  </head>
  <style type="text/css">
    h1 {text-align: center; font-size: small;}
    h2 {text-align: left}
    h3 {text-align: center; font-size: larger; color: rgb(179, 179, 179);}
		</style>
  <body>
    <br>
    <a href="http://www.ihpc.se.ritsumei.ac.jp/"><img class="" src="/static/menglab.png" alt="" width="160" high="160"></a>
    <a href="http://127.0.0.1:8001/">	&nbsp Home	&nbsp</a>
    <a href="http://127.0.0.1:8001/autotrain/">	&nbsp Automatic	&nbsp</a>
    <a href="http://127.0.0.1:8001/manualtrain/">	&nbsp Manual	&nbsp</a>
    <a href="http://www.ihpc.se.ritsumei.ac.jp/iot/auto-test/">	&nbsp Detection	&nbsp</a>

    <br><br>
    <h3><a href="http://127.0.0.1:8001/autotrain/"><font = 28pt color = "red">Automatic training</font></a></h3>
    <br><br>
    <h3><a href="http://127.0.0.1:8001/manualtrain/"><font = 28pt color = "red">Manual training</font></a></h3>
    <br><br>
    <h3><a href="http://www.ihpc.se.ritsumei.ac.jp/iot/auto-test/"><font = 28pt color = "red">Detection</font></a></h3>
    <br>
    <h1>&copy; 2023 by Meng Lab. All rights reserved.</h1>

  </body>
</html>
